/* body{
    margin: 0% !important;
    padding: 0% !important;
} */
.card:after {
    background-color: #f2f2f2;
    content: "";
    height: 10px;
    top: 350px;
    width: 100%;
  }
.card:hover {
    transform: scale(1.15);
  }


.card1:after {
    background-color: #f2f2f24c;
    content: "";
    height: 10px;
    top: 210px;
    width: 80%;
  }
.card1:hover {
    transform: scale(1.1);
  }


